---

---

<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog 507</title>
  </head>
  <body>
    <h1>Blog 507</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, facere
      iusto mollitia voluptate ipsa blanditiis minus eius, delectus
      necessitatibus cumque enim provident, tempore nobis itaque impedit tenetur
      consequuntur voluptatibus? Pariatur, eaque! Ratione, saepe perferendis. Et
      corrupti quasi doloribus minima est?
    </p>
	<style>
		h1{
			text-align: center;
			letter-spacing: 3px;
		}
	</style>
  </body>
</html>
